﻿<%@ Page Title="Ошибка 404" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeFile="404.aspx.cs" Inherits="About" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        Ошибка 404
    </h2>
    <p>
        Станица не найдена
    </p>
</asp:Content>
