﻿<%@ Page Title="Постановка задачи" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeFile="Default.aspx.cs" Inherits="Default" %>

<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h1>Постановка задачи</h1>
    <p>Разработать механизм журналирования ошибок произошедших на клиентской стороне (всех, которые возможно поймать) в отдельный файл на сервере, рядом с серверными логами (корневая папка с логами общая). Информация об ошибке должна быть как можно более полная. Предусмотреть возможность отключения из конфигурационных файлов, если например, прошли все этапы тестирования, прошла опытная эксплуатация и все критичные ошибки уже были выловлены.</p>
    <h2>Требование к решению</h2>
    <ul>
        <li>Работающий программный код JS + VB.NET или C#</li>
        <li>На выполнение задания дается 2ч.</li>
    </ul>
</asp:Content>
