﻿<%@ Page Title="Логирование JS" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeFile="LoggingJS.aspx.cs" Inherits="Logging_LoggingJS" %>

<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h1>Отладка</h1>
</asp:Content>
